@page
@model EcommerceApp.Pages.Cart.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Card Listing</h1>

<div class="col-xl-9 mt-5">
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
                        {
                            <div class="col-md-4">
                                <div class="card m-1 " style="min-height:450px;max-height:450px;">
                                    <img src="@Url.Content(@product.Image) "   style="max-width:100%;min-height:50%;margin:auto" alt="Product Image" class="img-fluid mt-2" />

                                    <div class="card-body flex-column align-items-center justify-content-center ">
                                        <h5 class="card-title " style="font-weight:bold">@product.Name</h5>
                                        <p class="card-text"  style="font-size:14px;">
                                            @if (!string.IsNullOrEmpty(product.Description) && product.Description.Length > 60)
                                            {
                                                @product.Description.Substring(0, 60)
                                            }
                                            else
                                            {
                                                @product.Description
                                            }
                                        </p>
                                        <p class="card-text">Price: $@product.Price</p>
                                        <a  style="width:100%" asp-page="./Products/Details" asp-route-id="@product.ProductID" class="btn btn-warning ">View Details</a>

                            <form method="post">
                                <input hidden type="text" name="ProductId" value="@product.ProductID" />
                                <button style="width:100%" type="submit" class="btn btn-outline-danger mt-2 "> Remove </button>

                            </form>
                                        
                                    </div>
                                </div>
                            </div>
                        }

        </div>
    </div>
</div>
